
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
   
        font-family: "Freeman", sans-serif;
      
      
      
}
header{
    background-color: rgba(255, 144,14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    flood-color: #131313;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner>img{
    width: 100%;
    margin-top: 20px;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.24rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;

}

main{
    max-width: 1400px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
}
.teams-contant{
    padding-right: 70px;
    padding-left: 70px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid saddlebrown;
    
    text-align: center;
    padding: 40px 30px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight: 600px;
}
@media screen and (max-width:568px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
@media screen and (min-width:568px) and (max-width:995px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;

    }
}